/* layout */


header {
    background-image: url(img/dark-ribs.jpg);
    background-color: #404040;
    padding: 0 .25em 1em;
    display: flex;
    flex-direction: column;
}

main {
    padding: 2em 1em;
}

/* typography */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #404040;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

a, .top {
    text-transform: uppercase;
    color: #F18119;
    font-weight: 900;
    text-decoration: none;
}

.top {
    letter-spacing: 1.5px;
    font-size: 0.625rem;
    order: -1;
}

.headline {
    color: #fff;
    font-weight: 400;
    font-size: 2.25rem;
    margin: 2em 0;
}

.footer {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

/* media query */

@media (min-width: 600px) {

    body {
        font-size: 1.125rem; 
    }

    .headline {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    header {
        background-repeat: no-repeat;
        background-position: center;
        width: 60%;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    main {
        width: 30%;
    }
}