/* layout */

/* * selector selects literally everything */

* {
    box-sizing: border-box;
}

header {
    background-image: url(img/ribs.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-color: #404040;
    padding: 0 .25em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

main {
    padding: 2em 1em;
}

/* typography */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #404040;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

a, .top {
    text-transform: uppercase;
    color: #F18119;
    font-weight: 900;
    text-decoration: none;
}

.top {
    letter-spacing: 1.5px;
    font-size: 0.625rem;
    order: -1;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1; /* border slice. makes no sense. need the 1 for any border gradients though */
    margin: 0;
    padding-top: 3px;
}

.headline {
    color: #fff;
    font-weight: 400;
    font-size: 2.25rem;
    margin: 0;
}

.footer {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

/* form */

.email-collector {
    width: 80%;
    margin: 0 auto;
    max-width: 300px;
}

input,
.btn {
    width: 100%; /* forms have a default width! */
    text-align: inherit;
    font-family: inherit; /* forms don't inherit text properties! */ 
    margin-bottom: .75em;
    border-radius: 3px;
}

input {
    color: #404040;
    border: 1px solid #404040;
    padding: .4em; 
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.07); 
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    border: unset;
    padding: 1em 2em;
    font-size: 0.625rem;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    background-image: linear-gradient(to left, #ff713b, #ffa51d);
    transition: transform 250ms; /* first attribute is what we want to transition */ 
    transform: scale(1);
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
}

/* media query */

@media (min-width: 600px) {

    body {
        font-size: 1.125rem; 
        margin: 0;
    }

    .headline {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header, main {
        width: 50%;
        min-height: 100vh; /* use min-height instead of height if you're setting a vh */ 
    }
}