/* layout */

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

header {
    background-image: url(img/ribs.jpg);
    background-repeat: no-repeat;
}

/* typography */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.header-link {
    text-decoration: none;
    font-weight: 900;
}

a {
    text-transform: uppercase;
}